body {
    background-color: #e8e8e8;
    font-family: 'Merriweather', serif;
}

nav {
    background-color: #30475e;
}

footer {
    margin: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: #222831;
}

h4 {
    color: #222831;
}

a {
    color: #f05454;
    font-size: 24px;
}

.card header {
    padding: 5px;
    color: white;
    /* border: solid black 1px; */
    text-align: left;
    position: absolute;
    background: #30475e;
    padding: 10px 20px 10px 20px;
  }

.card-project {
    margin-top: 60px;
}

.card-project-bottom {
    margin-top: 60px;
    margin-bottom: 60px;
}

.card.large {
    height: auto;
}

.card.small {
    height: 125px;
}

.card-image {
    max-width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-link {
    padding: 0 10px;
    font-size: 18px;
  }

.valign-wrapper {
    justify-content: center;
}

#projects img {
    width: 100%;
    border: solid #30475e 2px;
  
  }