body {
    background-color: #dddddd;
    font-family: 'Merriweather', serif;
}

nav {
    background-color: #222831;
}

footer {
    margin: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
  }

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2 {
    color: #30475e;
}

h4 {
    color: #f05454;
}

.card.large {
    min-height: 200px;
    height: auto;
}

.card.small {
    height: 125px;
}

.card-image {
    max-width: 100%;
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact-link {
    padding: 0 10px;
    font-size: 18px;
  }

  .valign-wrapper {
    justify-content: center;
}

#projects img {
    width: 100%;
    border: solid #30475e 2px;
    border-radius: 5%;
  
  }

  /* #top-row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
  } */